</p>
<style>
    h1 {
        line-height: 1rem;
    }
</style>

<p>
讓每個人都能打造出可靠又高效軟體的程式語言 
</p>

<h3>英文資源</h3>
<ul>
    <li><a href="https://www.rust-lang.org/">英文官網</a></li>
    <li><a href="https://doc.rust-lang.org/stable/book/">The Rust Programming Language</a></li>
    <li><a href="https://doc.rust-lang.org/stable/rust-by-example/">Rust by Example</a></li>
</ul>
<h3>中文資源</h3>
<ul>
    <li><a href="https://www.rust-lang.org/zh-TW/">正體中文官網</a></li>
    <li><a href="https://rust-lang.tw/book-tw/">Rust 程式設計語言</a></li>
</ul>
<p>