</p>
<style>
    h1 {
        line-height: 1rem;
    }
</style>

<p>
速度飛快、記憶體不再錯誤、Thread 絕對安全
</p>

<h3>英文資源</h3>
<ul>
    <li><a href="https://www.rust-lang.org/">英文官網</a></li>
    <li><a href="https://doc.rust-lang.org/stable/book/">The Rust Programming Language</a></li>
    <li><a href="https://doc.rust-lang.org/stable/rust-by-example/">Rust by Example</a></li>
</ul>
<h3>中文資源</h3>
<ul>
    <li><a href="https://www.rust-lang.org/zh-TW/">正體中文官網</a></li>
    <li><a href="https://askeing.github.io/rust-book/">正體中文 Rust Book</a></li>
</ul>
<p>